@media only screen and (max-width: 620px) {
	.logo {
		border: none;
	}
	body {
		margin-top: 0;
	}
	#mvpd_header_logo {
		padding-top: 12px;
		padding-bottom: 9px;
	}
	.left_side,
	.right_side {
		border: none;
		float: none;
		width: 100%;
	}
	.right_side {
		top: 0;
	}
	.left_side {
		height: auto;
		min-height: 0;
	}
	.divider,
	.social_buttons .button_label,
	.social_buttons hr {
		display: none;
	}
	.bindings .button_label {
 	   display: inherit;
	}
	.form,
	.social_buttons {
		margin: 0 auto;
	}
	.social_buttons {
		margin-top: 1em;
		text-align: center;
		width: 300px;
	}
	.social_buttons button {
		display: inline;
		margin-right: 10px;
		margin-bottom: 0px;
		width: 48px;
	}
	.bindings .social_buttons button {
		float: left;
		margin-bottom: 10px;
	}
	.login_message {
		margin: 7px auto 6px;
		width: 100%;
	}
	.footer {
		margin: 0 auto;
		padding-top: 0;
		width: 285px;
	}

	.social_buttons_wrapper {
		white-space: nowrap;
		overflow: hidden;
		text-align: center;
		letter-spacing: 35px;
	}
	.social_buttons_wrapper form{
		display: inline-block;
		width: 58px;
		height: 50px;
	}
	.social_buttons_wrapper form{
		*display: inline;
		*margin: 0 20px 0 20px;
	}
	.social_login {
		width: 300px;
	}
}
@media only screen and (max-width: 620px) {
	.connected span {
		display: none;
	}
	table.bindings tr th:nth-child(2) {
		display:none;
	}
	table.bindings .nopad {
		display: none;
	}
	table.bindings {
		width: auto;
	}
	.table_row .connected {
		margin-left: 15px;
	}

}
