body {
	background-color: #fff;
	font-family: 'Arial';
	font-size: 12px;
	padding-left: 3px;
	padding-right: 3px;
}
form {
	margin: 0;
}
fieldset {
	border: 0 none;
}
.clear {
	clear: both;
}
.footer_links {
	padding-top: 25px;
}
.social_login {
	color: #555;
	margin: 0 auto;
	max-width: 600px;
}
a {
	color: #2278bb;
	text-decoration: none;
}
.error {
	color: #f00;
	font-size: 12px;
	margin-bottom: 5px;
}
.logo_bar {
	border-bottom: 1px solid #b6b6b6;
	display: inline-block;
	margin-top: 5px;
	padding-bottom: 2px;
	padding-top: 5px;
	width: 100%;
}
.logo_left {
	padding-bottom: 5px;
}
.logo_right {
	bottom: 0;
	padding-bottom: 10px;
	right: 0;
}
.full {
	width: 100%;
}
.left_side {
	clear: both;
	float: left;
	min-height: 200px;
	width: 50%;
}
.form a {
	font-size: 0.9em;
	font-weight: bold;
	line-height: 15px;
	margin-top: 5px;
}
.right_side {
	float: left;
	width: 49%;
}
.login_message,
.header {
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 7px;
	margin-top: 7px;
}
.login_message {
	line-height: 1.2;
}
.vertical_space {
	line-height: normal;
	margin: 20px 0;
}
.sub {
	font-weight: normal;
}
label {
	color: #8f8f8f;
	float: left;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
}
.input {
	border: 1px solid #b6b6b6;
	font-size: 1em;
	font-weight: bold;
	padding: 4px;
	width: 95%;
}
#username, #password, #zipcode {
 width: 282px; 
}
.field-help {
	color: #aaa;
	float: left;
	font-size: 0.8em;
	margin-bottom: 10px;
}

.field-error {
	color: #400;
	float: left;
	font-size: 0.8em;
	margin-bottom: 10px;
}

.login {
	border: 0 none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	height: 37px;
	margin-top: auto;
	text-align: center;
	vertical-align: middle;
	width: 125px;
}

.cancel {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #fff;
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-image: none;
        border-radius: 5px 5px 5px 5px;
        border-style: none;
        border-width: 1px;
        cursor: pointer;
        float: left;
        line-height: normal;
        padding: 8px;
        text-align: center;
        width: 109px;
}

.cancel_box {
	float: right;
}

.form .cancel_box .cancel {
	font-size: 15px;
	height: 21px;
	margin-top: auto;
}
.form .cancel_box .cancel:hover {
	text-decoration: underline;
}

.remember {
	color: #8f8f8f;
	font-size: 0.9em;
	font-weight: bold;
	margin-left: 10px;
	width: auto;
}

.remember label{

}
.remember input {
	border: none;
	height: auto;
	margin-left: 15px;
	margin-right: 5px;
    margin-top: -3px;
	width: auto;
}
#selfcare_list {
	list-style: none;
	padding: 0;
	margin-top: 1em;
}

#mvpd_header_logo {
    padding-top: 50px;
	padding-bottom: 40px;
}

.social_buttons {
	margin-left: 40px;
	width: 220px;
}
.social_buttons button {
/*
	background: -moz-linear-gradient(top,  #f7f7f7,  #dbdbdb); /* for firefox 3.6+ * /
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#dbdbdb)); /* for webkit browsers * /
*/
	background-color: #f2f2f2;
	border: 0px solid #cfcfcf;
	border-radius: 5px;
/*
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#dbdbdb'); /* for IE * /
*/
	font-weight: bold;
	height: 48px;
	margin-bottom: 10px;
	padding: 0;
	width: 220px;
}

.bindings .social_buttons button {
	width: 48px;
}
.social_buttons hr {
	border: none;
	border-top: 2px dotted #ddd;
	color: #fff;
	letter-spacing: 0.4px;
}
.logo {
	border-right: 1px solid rgb(255,255,255); 
	border-right: 1px solid rgba(255,255,255,0.25);
	height: 48px;
	margin: 0;
	padding: 0;
	width: 48px;
}
.social_buttons .facebook {
	background-color: #3C599B;
}
.facebook .logo {
	background: url("../../images/social_logos.png") no-repeat left top transparent;
	background-size: 192px 48px;
}
.social_buttons .twitter {
	background-color: #30abf1;
}
.twitter .logo {
	background: url("../../images/social_logos.png") no-repeat -48px top transparent;
	background-size: 192px 48px;
}
.social_buttons .google {
	background-color: #d4422b;
}
.google .logo {
	background: url("../../images/social_logos.png") no-repeat -96px top transparent;
	background-size: 192px 48px;
}
.social_buttons .googleplus {
	background-color: #d4422b;
}
.googleplus .logo {
	background: url("../../images/social_logos.png") no-repeat -144px top transparent;
	background-size: 192px 48px;
}
.social_buttons .button_label {
	color: #fff;
	height: 18px;
	line-height: 18px;
	padding: 15px;
	text-align: left;
	width: 139px;
}
.form {
	margin: auto;
	width: 300px;
}
.full .form {
	margin: 0 auto;
}
.footer {
	clear: both;
	padding-top: 5px;;
}
.footer a,
.footer span {
	border-right: 1px solid #cfcfcf;
	padding: 0 5px;
}
.footer_notes a,
.footer_notes span {
	border-right: none;
	padding: 0 5px;
	text-decoration: none;
}
.footer a:last-child,
.footer span:last-child {
	border-right: 0 none;
}
.social_login .header_row {
	font-weight: bold;
	height: 20px;
}
.social_login .remember_box {
	float: right;
	margin-top: 15px;
	padding-bottom: 9px;
	padding-top: 7px;
}
.social_login .remember_box input {
	vertical-align: middle;
}
.social_login .remember_box label {
	display: inline;
}
.row {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.social_login .structure_box {
	display: inline-block;
	margin-top: 1em;
	width: 100%;
}
.social_login .submit_box {
	float: left;
}
.header_row {
	font-weight: bold;
	height: 20px;
}
.table_row {
	border-bottom: 1px solid #e6e6e6;
	clear: both;
	display: block;
	height: 60px;
}
.table_row div,
.table_row span {
	display: inline;
}
.table_row .ip div {
	float: left;
	height: 48px;
	width: 48px;
}
.table_row div.ip span {
	position: relative;
	top: 15px;
}
.table_row .connected span {
	float: left;
	position: relative;
}
.table_row div.ip {
	float: left;
}
.table_row.header_row .ip,
.table_row .ip div {
	margin: 10px;
}
.table_row div.connected {
	float: left;
}
.table_row .connected .login {
	margin: 10px 0;
	width: 100px;
}
.table_row .connected .login .add {
	float: right;
}
.connected .login.remove {
	background-color: #8e8e8e;
	background-image: none;
	float: right;
}

table.bindings {
	border-collapse: collapse;
	margin: 0 auto;
	width: 600px;
}

table.bindings th {
	border-bottom: 1px solid #aaa;
	text-align: left;
}

table.bindings td {
	border-bottom: 1px solid #aaa;
	padding-top: 10px;
}
table.bindings .connected {
	padding-top: 0;
	width: 25%;
}

table.bindings tr:last-child td {
	border-bottom: none;
}

table.bindings .nopad {
	font-weight: bold;
	padding: 0;
	width: 25%;
}

table.bindings .login {
	margin-top: 0;
}
.bindings .social_buttons .button_label {
	color: #000;
	font-weight: bold;
	font-size: 15px;
	vertical-align: middle;
	margin-bottom: 10px;
	width: 70px;
}

#ajax .ajax_load {
	background: url('../../images/ajax-loader.gif') scroll no-repeat center;
	height: 180px;
}

table.bindings form, table.bindings form fieldset {
	float: right;
	margin: 0;
	padding: 0;
}
.text_input_box {
	float: left;
}
.text_input_box input {
	width: 283px;
}

div.custom_message_text {
        word-wrap: break-word;
}
